/**
 * Just specify font-size, don't override current font.
 */
/**
 * The "normal" weight font, usually weight 400
 */
/**
 * The "headline" weight font
 */
/**
 * The "small caps" weight font
 */
/**
 * Helper function to normalize the line-height. Provides an easy way to
 * handle 'auto' and unspecified lineheight values.
 */
/**
 * Primary helper to get the font bits output correctly
 */
::selection {
  background: #29abe2;
  color: white; }

::-moz-selection {
  background: #29abe2;
  color: white; }

body {
  background: white;
  font-family: freight-sans-pro, "FreightSans-Book", freight-sans-pro, helvetica, arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19.2px;
  line-height: 1.2rem;
  font-weight: normal; }
  body nav.wc {
    height: 80px;
    background-color: black;
    z-index: 9999;
    width: 100%;
    padding: 0; }
    @media only screen and (max-width: 980px) {
      body nav.wc {
        height: 48px; } }
    body nav.wc ul {
      width: auto;
      margin: 14px auto 0 auto;
      height: 60px;
      list-style: none; }
      @media only screen and (max-width: 980px) {
        body nav.wc ul {
          display: table;
          margin-left: 6px; } }
    body nav.wc ul li {
      display: inline;
      font-family: freight-sans-pro, "FreightSans-Book", freight-sans-pro, helvetica, arial, sans-serif;
      font-size: 11px;
      font-size: 0.6875rem;
      line-height: 13.2px;
      line-height: 0.825rem;
      font-weight: 600;
      font-weight: 600;
      text-align: left;
      float: left;
      margin: .6em;
      width: 76px;
      height: 59px;
      border-bottom: 5px solid rgba(255, 255, 255, 0.1); }
      body nav.wc ul li a {
        text-decoration: none !important;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
        body nav.wc ul li a:hover {
          color: black;
          text-decoration: none !important; }
        body nav.wc ul li a:active {
          color: black;
          text-decoration: none !important; }
      body nav.wc ul li .external {
        color: rgba(255, 255, 255, 0.5); }

.spacer {
  height: 50px; }

.logo_fixed {
  margin: 0 0 0 0;
  position: relative; }
  @media only screen and (max-width: 980px) {
    .logo_fixed {
      display: block;
      margin: 0 0 0 0px;
      height: 48px; } }
  .logo_fixed img {
    height: 100%;
    width: auto; }

.white {
  background: white;
  padding: 0 0 40px 0;
  color: #4a4a4a; }

.green {
  background: #2b9b39;
  color: white;
  padding: 0 0 40px 0; }

.grey {
  background: rgba(74, 74, 74, 0.1);
  color: #4a4a4a; }

.black {
  background: black;
  color: white;
  padding: 0 0 40px 0; }

.pitch {
  background-image: url(../img/streams_bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding: 0 0 40px 0;
  background-color: rgba(43, 155, 57, 0.8); }

.jersey {
  margin-bottom: 48px;
  width: 100%; }

h1 {
  font-family: freight-sans-pro, "FreightSans-Book", freight-sans-pro, helvetica, arial, sans-serif;
  font-size: 55px;
  font-size: 3.4375rem;
  line-height: 60px;
  line-height: 3.75rem;
  font-weight: normal;
  margin: 0 0 .5em 0;
  padding-bottom: 24px;
  color: #2b9b39; }
  @media only screen and (max-width: 768px) {
    h1 {
      font-family: freight-sans-pro, "FreightSans-Book", freight-sans-pro, helvetica, arial, sans-serif;
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 36px !important;
      line-height: 36px !important/16pxrem;
      font-weight: normal; } }

h2 {
  font-family: freight-sans-pro, "FreightSans-Book", freight-sans-pro, helvetica, arial, sans-serif;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 44px;
  line-height: 2.75rem;
  font-weight: normal;
  margin: 0 0 .5em 0;
  padding-bottom: 24px;
  color: #2b9b39; }
  @media only screen and (max-width: 768px) {
    h2 {
      font-family: freight-sans-pro, "FreightSans-Book", freight-sans-pro, helvetica, arial, sans-serif;
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 27px !important;
      line-height: 27px !important/16pxrem;
      font-weight: normal; } }

h3 {
  font-family: freight-sans-pro, "FreightSans-Book", freight-sans-pro, helvetica, arial, sans-serif;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 25.2px;
  line-height: 1.575rem;
  font-weight: 600;
  font-weight: normal;
  margin: 0 0 0 0;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 36px;
  padding-bottom: 6px;
  margin-top: 12px !important;
  text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    h3 {
      font-family: freight-sans-pro, "FreightSans-Book", freight-sans-pro, helvetica, arial, sans-serif;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 16.8px;
      line-height: 1.05rem;
      font-weight: 600; } }

p {
  font-family: freight-sans-pro, "FreightSans-Book", freight-sans-pro, helvetica, arial, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 27px;
  line-height: 1.6875rem;
  font-weight: normal; }

a {
  color: #20732a; }

.center {
  text-align: center;
  font-family: freight-sans-pro, "FreightSans-Book", freight-sans-pro, helvetica, arial, sans-serif;
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: normal; }

.line {
  padding-top: 36px;
  padding-bottom: 24px;
  margin-top: 12px !important;
  border-top: 0.15rem dotted rgba(0, 0, 0, 0.5); }

.rte-header nav, .rte-footer .footer-sections, .rte-footer .footer-additional .additional-section {
  max-width: 61.875rem; }
